<div class="review" id="review">
    <div class="content-inner">
      <div class="content-header">
        <h2>{{ reviewObject.title }}</h2>
      </div>
      <div class="row align-items-center review-slider" >
        <ngb-carousel  [showNavigationArrows]="false" [interval]="3000">
        <ng-template ngbSlide *ngFor="let review of reviewObject.reviewList">
        <div class="review-slider-item">
            <div class="review-text">
                <p>
                   {{ review.text }}
                </p>
            </div>
            <div class="review-img">
                <img [src]="review.img.src" [alt]="review.img.alt">
                <div class="review-name">
                    <h3>{{ review.name }}</h3>
                    <p>{{ review.profession }}</p>
                </div>
            </div>
        </div>
        </ng-template>
    </ngb-carousel>
      </div>
    </div>
  </div>
  
 
