<div class="sidebar">
    <div class="sidebar-header">
        <img [src]="sidebarObject.img.url" [alt]="sidebarObject.img.alt">
    </div>
    <div class="sidebar-content">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">Angular Assignment 1</a>
            <button type="button" (click)="isCollapsed = !isCollapsed"
            [attr.aria-expanded]="!isCollapsed"
		    aria-controls="collapseExample"
            class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
                <ul class="nav navbar-nav">                 
                    <li
                    *ngFor="let menu of sidebarObject.menuSidebar"
                    class="nav-item">                  
                    <a class="nav-link" routerLink = "{{ menu.href }}"> {{menu.name}} <i [class] = "menu.icon"></i> </a>
                  </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="sidebar-footer">
        <app-social-networks [socialList]="sidebarObject.socialNetwork"></app-social-networks>
    </div>
</div>