<div class="contact" id="contact">
    <div class="content-inner">
        <div class="content-header">
            <h2>{{ contactObject.title }}</h2>
        </div>
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="contact-info">
                    <p *ngFor="let contact of contactObject.contactInfo"><i [class]="contact.icon"></i>
                        <a *ngIf="contact.aLink; else elseBlock"
                        [href] = "contact.aLink"
                        >{{ contact.text }}</a>
                    <ng-template #elseBlock>{{ contact.text }}</ng-template>
                    </p>
                    <div class="social">
                        <app-social-networks [socialList]="contactObject.socialNetwork"></app-social-networks>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form">
                    <app-form [formObject] ="contactObject.form"></app-form>
                 </div>
            </div>
        </div>
    </div>
</div>