.skills {
    padding-top: 15px;
}

.skill-name {
    margin-top: 15px;
}

.skill-name p {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
}

.skill-name p:last-child {
    float: right;
}

.progress {
    height: 5px;
    border: 1px solid #FF6F61;
    border-radius: 0;
    background: #ffffff;
}

.progress .progress-bar {
    width: 1px;
    background: #FF6F61;
    border-radius: 0;
    transition: 1s;
}
