/**********************************/
/*********** Service CSS **********/
/**********************************/
.service {
    position: relative;
    padding: 60px 30px 30px 30px;
    background: #ffffff;
    border-bottom: 30px solid #F6D155;
}

.service .srv-col {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.service .srv-col i {
    font-size: 30px;
    color: #FF6F61;
    margin-bottom: 15px;
}

.service .srv-col h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.experience .exp-col h4 {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 5px;
}

.experience .exp-col h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.experience .exp-col p {
    margin: 0;
}
