/**********************************/
/********* Experience CSS *********/
/**********************************/
.experience {
    position: relative;
    padding: 60px 30px;
    background: #ffffff;
    border-bottom: 30px solid #F6D155;
}

.experience .exp-col {
    position: relative;
    width: 100%;
    padding: 20px 0 20px 20px;
    border-left: 1px solid #FF6F61;
    border-bottom: 1px solid #FF6F61;
}

.experience .col-md-6:first-child .exp-col {
    padding-top: 0;
}

.experience .col-md-6:last-child .exp-col {
    border-bottom: none;
    padding-bottom: 0;
}

@media (min-width: 768px) {
    .experience .col-md-6:nth-child(-n+2) .exp-col {
        padding-top: 0;
    }

    .experience .col-md-6:last-child .exp-col,
    .experience .col-md-6:nth-last-child(2) .exp-col {
        border-bottom: none;
        padding-bottom: 0;
    }
}

.experience .exp-col span {
    position: relative;
    display: block;
    font-size: 13px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.experience .exp-col span::before {
    position: absolute;
    content: "";
    width: 11px;
    height: 11px;
    background: #FF6F61;
    top: 5px;
    left: -26px;
    border-radius: 5px;
}

.experience .exp-col span i {
    color: #FF6F61;
}

.experience .exp-col h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.experience .exp-col h4 {
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 5px;
}

.experience .exp-col h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}

.experience .exp-col p {
    margin: 0;
}
