<div class="portfolio" id="portfolio">
    <div class="content-inner">
      <div class="content-header">
        <h2>{{ portfolioObject.title }}</h2>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul [id]="portfolioObject.portfolioFilters.id">
            <li *ngFor="let filter of portfolioObject.portfolioFilters.list"
                [ngClass]="{ 'filter-active': filter.dataFilter === currentFilter }"
                (click)="setFilter(filter.dataFilter)">
              {{ filter.text}}
            </li>
          </ul>
        </div>
      </div>
      <div class="row portfolio-container">
        <div class="col-lg-4 col-md-6 portfolio-item {{item.class}}" *ngFor="let item of getFilteredItems(); let i=index ">
          <div class="portfolio-wrap">
            <figure>
                <img src="{{item.img.src}}" [class] = "item.img.class" [alt]="item.img.alt"   >
                <a *ngFor="let aLink of item.a" 
                [class] = "aLink.class"
                [attr.data-lightbox] = "aLink.lightbox"
                [attr.data-title] ="aLink.dataTitle"
                [title] = "aLink.title" 
                (click)="open(i)"
                >
                <i *ngIf="aLink.iClass" [class] ="aLink.iClass" ></i>
                <span *ngIf="aLink.spanText">{{ aLink.spanText}}</span>
                </a>              
                
            </figure>
        </div>
        </div>
      </div>
    </div>
  </div>
  